*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.banner{
    width: 100%;
    height: 100vh;
    
    background-position: center;
    background-size: center;
}

section h1{
    text-align: center;       
     background-color: #3498db; 
     color: #fff;              
    padding: 20px;            
     margin: 0;                
}
section h2{
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;



}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.text-box h2::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index:-1;
    transform: rotate(10deg);
}



.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}



    
    

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:  center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 10px #000;
    background: rgba(0,0,0,0.5);
    top: 0; 
}
#chk1{
    display: none;
}


i{
    color:#fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color: #fff;
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 50px;
    width : 80px;
    height : 120px;
}
header .search-box{
    flex: 1;
    position: relative;

}
.search-box input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding-left: 5px;
    padding-right: 40px;
}
.search-box button{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0.9);
    background: green;
}
header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top: 100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width: 50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    header .menu{
        display: block;
        width: 100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
    


    }
}
@media(max-width:600px){
    header .logo{
        font-size: 10px;
        margin-left: 8px;
    }
    header ul{
        width: 100%;

    }



}
.text-box{
    color:#fff;
    position: absolute;
    bottom: 8%;
    margin-left: 100px;
}
.text-box p{
    font-size: 50px;
    font-weight: 600;
}
.text-box h1{
    font-size: 100px;
    line-height: 90px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.text-box h3{
    font-size: 20px;
    font-weight: 500;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap : wrap;
    margin-top: 30px;
}
.row a{
    color:#fff;
    text-decoration: none;
    padding: 12px 22px;
    margin:0 10px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    background : rgba(0,0,0,0.5);
    
    z-index: 1;
    transition: color 0.5s;
    
    
    
}
.row a span{
    width: 0%;
    height: 100%;
    

    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}
.row a:hover span{
    width: 100%;
}
.row a:hover{
    color: #000;
}
.row a:hover{
    color : green;
}

nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 30px;
    z-index: 3;
    cursor: pointer;
}
section, div {
    margin-bottom: 20px;
}



li, p {
    font-size: 16px;
    margin-bottom: 10px;
}
nav a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
iframe {
display: block; 
margin: 0 auto;
max-width: 100%;
}
section h2{
    margin: auto;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
section h2::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index:-1;
    transform: rotate(10deg);
}
.service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align:center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.overlay{
    width: 100;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .overlay{
    opacity: 1;
}
#footer{
    padding: 100px 0 20px;
    background: #efefef;
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-row h1{
    margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-right{
    margin-top: 0;
    padding-bottom: 70px;
} 
















